@media (max-width: 521px) {
    .des {
        width: 50%;
    }
    
    .ex {
        display: none;
    }
    

    div.dulCv {
        display:none !important;
    }

    div.otByu div.FAcADc {
        width: 50%;
    }
}

@media (min-width: 522px) and (max-width: 768px) {
    .des {
        width: 50%;
    }
    
    .ex {
        display: none;
    }

    div.dulCv {
        display:block !important;
    }

    div.otByu div.FAcADc {
        width: 16%;
    }
}

@media (min-width: 769px) and (max-width: 850px) {
    .des {
        width: 25%;
    }
    
    .ex {
        display: block;
    }
}

@media (min-width: 851px) and (max-width: 991px) {
    div.otByu div.FAcADc {
        width: 16%;
    }
}

@media (min-width: 992) and (max-width: 1199px) {
    div.otByu div.FAcADc {
        width: 16%;
    }
}

@media (min-width: 1200px) {
    div.otByu div.FAcADc {
        width: 16%;
    }
}

#header {
    background-color: #f2f2f2;
    width: 100%;
    height: 70px;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 0%;
}

.img-thumbnail {
    float: left;
    width: auto;
    height: 30px;
    margin: 20px;
}

.float-right {
    float: right;
    padding: 15px;
}

#main {
    width: 100%;
    margin-top: 80px;
}

#main > p {
    color: maroon;
    padding-top: 10px;
    font-size: 22px;
}

.inputs {
    width: 100%;
}

.input-container {
    width: 100%;
}

.contents {
    float: left;
}

.des, .ex {
    width: 25%;
}

div.info {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 40%;
}

.jfk-textinput {
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    border:1px solid #d9d9d9;
    border-top:1px solid #c0c0c0;
    font-size:13px;
    height:25px;
    padding:1px 8px;
    width: 100%;
}

.jfk-textinput:focus {
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
    border:1px solid #4d90fe;outline:none
}

.jfk-textinput::-ms-clear{
    display:none;
}

.info-eg {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.grid-container {
    display: grid;
    width: 75%;
    grid-template-columns: 200px auto auto;
}

.grid-item {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0;
}

.howto {
    color:#555;
    font-size:11px;
    padding-left:5px;
    vertical-align:middle;
    position:relative;
}

#howto-title {
    color: #777;
    font-weight: 700;
    font-size: 14px;
    padding-left: 5px;
}

.grid-item > label {
    font-size: 14px;
}

.bar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    padding-top: 1px;
}

.submit-btn {
    background-color: #357ae8;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    padding: 0 12px;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 150px auto;
        width: 90%;
    }

    .howto {
        display: none;
    }

    #howto-title {
        display: none;
    }
}