@media (max-width: 521px) {
    .container {
        width: 100%;
    }

    .fbottom, .details, .settings {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ftop {
        text-align: center;
    }
}

@media (min-width: 522px) and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .fbottom, .details, .settings {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .fbottom {
        justify-content: center;
    }

    .ftop {
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 850px) {
    .container {
        width: 70%;
    }

    .fbottom, .details, .settings {
        display: flex;
        flex-direction: row;
    }

    .fbottom {
        justify-content: space-between;
    }
}

@media (min-width: 851px) and (max-width: 1199px) {
    .container {
        width: 65%;
    }
    
    .fbottom, .details, .settings {
        display: flex;
        flex-direction: row;
    }

    .fbottom {
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 40%;
    }

    .fbottom, .details, .settings {
        display: flex;
        flex-direction: row;
    }

    .fbottom {
        justify-content: space-between;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-121%);
    -webkit-transform: translateX(-50%) translateY(-121%);
    transform: translateX(-50%) translateY(-121%);
    text-align: center;
}

.full-width {
    width: 100%;
    height: auto;
}

.img-responsive {
    max-width: 100%;
    margin-bottom: 5px;
}

.google-links {
    padding: 17px 10px;
    margin: 10px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.s-link {
    text-decoration: none;
    padding: 0px 10px;
    color: grey;
    font-size: 14px;
}

.s-link:hover {
    text-decoration: underline;
    color: lightgray;
}

.inline {
    display: inline;
}

.profile {
    position: relative;
    top: 0%;
    right: 0%;
    width: 35px;
    height: 35px;
    background-color: red; 
    border-radius: 50%;
    text-align: center;
}

.profile::after {
    content: 'A';
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.search-links {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 0%;
    right: 0%;
    display: inline-block;
    margin: 10px;
    font-size: 14px;
}

.s-inline {
    float: right;
    padding: 18px 5px;
}

.p-inline {
    float: right;
    padding: 8px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    color: grey;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #dadce0;
    padding: 10px 0;
}

.ftop {
    width: 100%;
    font-size: 14px;
    color: grey;
    border-bottom: 1px solid #dadce0;
    padding: 10px 15px;
}

.fbottom {
    width: 100%;
    justify-content: space-between;
    padding: 10px 5px;
    font-size: 14px;
}

.link {
    color: grey;
    text-decoration: none;
    margin: 5px 10px;
}